@tooBarHeight: 40px;
@backgroundColor: #f6f7f8;

.tooBar {
  height: @tooBarHeight;
  background-color: @backgroundColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 8px;
  padding: 0 16px;

  .left, .right {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .operation {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    &:hover {
      background-color: #e6e8eb; // 设置悬停时的背景颜色
    }
  }

  .line {
    width: 1px;
    height: 25px;
    background-color: #dfe3e8;
  }
}